<li class='page-listing' id="<%= dom_id(user) -%>">
  <div class="page-row">
    <i class="icon icon-user-1"></i>&nbsp;

    <% tag_name = current_refinery_user.can_edit?(user) ? :a : :div %>
    <%= content_tag(tag_name, class: 'page-title', href: refinery.edit_authentication_devise_admin_user_path(user)) do %>
      <span class='title'>
        <%= user.username %>
        <% if user.attributes.keys.include?('reset_password_token') &&
            user.reset_password_token.present? &&
            !user.confirmed_on.present? %>
          <span class="label">Invitation Sent</span>
        <% end %>
      </span>
    <% end %>

    <span class='actions'>
      <% if current_refinery_user.can_delete?(user) %>
        <span class="delete pull-right">
          <%= render 'refinery/admin/glass/delete_button',
                     css_class: 'cancel confirm-delete circle-icon',
                     delete_url: refinery.authentication_devise_admin_user_path(user),
                     after_delete_url: refinery.authentication_devise_admin_users_path,
                     confirm_text: 'Are you sure you want to delete this User?',
                     delete_btn_text: '<i class="icon icon-trash"></i>'
          -%>
        </span>
      <% end %>
    </span>
  </div>
</li>
